@import url("https://fonts.googleapis.com/css?family=Mandali&display=swap");

// COLORS global variables

$backgroundColor: #ffffff;
$mainRedColor: #d43e22;

$mainTextColor: #000000;
$subTextColor: #717171;

$mainBlueColor: #007afe;
$mainPurpleColor: #9472ee;
$mainLightBlueColor: #00c2ec;
$mainYellowColor: #ebb303;
$mainPinkColor: #ea6ba3;
$mainGreenColor: #28b227;
$mainGreyColor: #6c829e;
