@import "../scss/colors.scss";

.features {
  width: 100%;
  height: 500px;
  background-color: $mainRedColor;
  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: 1024px) {
    height: 100%;
  }

  .box-desktop {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // background-color: yellow;

    @media only screen and (max-width: 1024px) {
      flex-direction: column;
    }

    .description {
      // background-color: blue;
      text-align: left;
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 1024px) {
        width: 40%;
        text-align: center;
        margin-top: 50px;
      }

      @media only screen and (max-width: 414px) {
        width: 70%;
        // background-color: yellowlaaaaa;
      }

      .text {
        height: 120px;
        @media only screen and (max-width: 1024px) {
          margin-top: 50px;
        }
      }

      .img-container {
        // background-color: blue;
        width: 250px;
        height: 250px;
        border-bottom: 1px white dashed;
      }
      .featureImg {
        width: 250px;
        height: 250px;
        object-fit: cover;
      }

      p {
        font-style: normal;
        color: white;
      }

      #premium {
        font-size: 12px;
        font-style: italic;
      }
    }
  }
}
